<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/bbfa8b511e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/48/7950F2/blog.png">
    <link rel="stylesheet" href="style.css">
    <title>Blog Website</title>
</head>

<body>

    <!-- This is the navbar code -->
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Blog website</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <!-- <i class="fa-solid fa-bars"></i> -->
                <!-- <i class="fa-solid fa-bars"></i> -->
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/main">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contact">Contact</a>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <%if (isAuthenticated) { %>
                        <button class="btn btn-outline m-2 navi-btn" type="submit"><a class="nav-link"
                                href="/logout">Logout</a></button>

                        <% }else{ %>
                            <button class="btn btn-outline m-2 navi-btn" type="submit"><a class="nav-link"
                                    href="/login">Login</a></button>
                            <button class="btn btn-outline m-2 navi-btn" type="submit"><a class="nav-link"
                                    href="/register">Register</a></button>
                            <% } %>
                </form>



            </div>
        </div>
    </nav>