<%- include('partials/header') %>

    <div class="about">
        <div class="about1">
            <img src="https://cdn.pixabay.com/photo/2017/02/01/10/21/funny-2029437_960_720.png" alt="A cartoon image of the robot pencil in his hand.">
            <h3>Blog Website is here to empower voice of every person. regardless of background or skill level, to
                unlock their full potential.</h3>
        </div>

        <div class="about2">
            <h1>Reducing the Platform Gap</h1>
            <div class="hr"></div>
            <h4>Some people have easier access to key career opportunities than others based purely on their social
                status, creating an experience gap. By unbundling professional development from employment we aim to
                reduce that gap and give everyone the chance to both gain new skills and master existing ones at an
                accelerated pace.</h4>
        </div>

        <div class="about3">
            <h1>Who AM I ?</h1>
            <div class="hr"></div>
            <h4>This Blog Website is developed by the Third Year Btech Student with three years experience in building
                such type of website up-skilling the people and his skills.</h4>
            <img src="https://avatars.githubusercontent.com/u/79322933?v=4" alt="This is the Prince Image.">
            <h4>Prince Kumar Sahni</h4>
            <h4>Developer</h4>
            <a class="m-1 " href="https://www.linkedin.com/in/prince-kumar-sahni-7583b41a5/"><i class="fab fa-linkedin"></i></a>
            <a class="m-1 " href="https://github.com/mrprince123"><i class="fab fa-github"></i></a>

        </div>

    </div>


    <%- include('partials/footer') %>