<%- include('partials/header') %>

    <div class="error">
        <div class="local-error">
            <img src="https://png.pngtree.com/png-clipart/20210704/original/pngtree-flat-error-404-page-website-png-image_6501260.jpg" alt="">
            <h2>Oops</h2>
            <h1>404 Error</h1>
            <p>Page Not Found</p>
            <button><a href="/">Go to Home Page</a></button>
        </div>
    </div>


    <%- include('partials/footer') %>