<%- include('partials/header') %>

    <div class="home">
        <div class="home1">
            <img src="https://cdn.pixabay.com/photo/2012/04/24/23/44/spaceship-41185_960_720.png" alt="">
            <h2>Never Stop</h2>
            <h1>Bloging</h1>
            <p>Increase your engineering expertise and advance your career by acquiring, practicing, and mastering new
                skills on a real-life tech stack - while keeping things interesting.</p>
            <button><a class="nav-link" href="/register">Join Now</a></button>
        </div>

        <div class="home2">
            <h2>It's All About Skills</h2>
            <h1>ACCELERATE YOUR DEVELOPMENT</h1>
            <p>Professional improvement is a never-ending series of quests that we "play" at work throughout our careers
                — receiving assignments and overcoming challenges. It's a slow, laborious process. But what if you could
                accelerate it? Now you can, with Wilco.</p>
        </div>

        <div class="home3">
            <h4>Card Section</h4>
            <div class="hr"></div>
            <h2>People TALK About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolores repellat vero esse sunt
                dignissimos tenetur voluptatem neque! Deserunt quaerat numquam alias natus maxime neque.</p>
        </div>

        <div class="home4">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col ">
                    <div class="card card-hover h-100">
                        <div class="card-body">
                            <p class="card-text">“Where the Internet is about availability of information, blogging is
                                about making information creation available to anyone.”</p>
                        </div>
                        <div class="card-bottom">
                            <h5 class="card-title">George Siemens</h5>
                            <h6 class="card-title">University</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-hover h-100">
                        <div class="card-body">
                            <p class="card-text">“Don’t try to plan everything out to the very last detail. I’m a big
                                believer in just getting it out there: create a minimal viable product or website,
                                launch it, and get feedback.”</p>
                        </div>
                        <div class="card-bottom">
                            <h5 class="card-title">Neil Patel</h5>
                            <h6 class="card-title">Entrepreneur</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-hover h-100">
                        <div class="card-body">
                            <p class="card-text">“Blogging is to writing what extreme sports are to athletics: more
                                free-form, more accident-prone, less formal, more alive. It is, in many ways, writing
                                out loud.”</p>
                        </div>
                        <div class="card-bottom">
                            <h5 class="card-title">Andrew Sullivan</h5>
                            <h6 class="card-title">British-American author</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>


    <%- include('partials/footer') %>