<%- include('partials/header') %>

    <div class="thanks">
        <div class="local-thanks">
            <p>Thanks</p>
            <h4>Thanks for Contacting with us.</h4>
            <p>We will reply you shortly</p>
            <button><a href="/contact">Contact Page</a></button>
        </div>
    </div>


    <%- include('partials/footer') %>