@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
/* font-family: 'Dongle', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* font-family: 'Silkscreen', cursive; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, aqua, blue);
}

/* This is for the Navbar */
.navbar-brand {
    font-family: 'Silkscreen', cursive;
    background: -webkit-linear-gradient(red, red, yellow, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-color: red; */
}


.nav-item {
    /* background-color: yellow; */
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    /* text-align: center; */
    margin-top: 7px;
}

.btn{
    /* background-color: red; */
    border: 3px solid aquamarine;
    padding: 5px 10px;
    color: aquamarine;
    font-family: 'Dongle', sans-serif;
    font-size: 1.5rem;
}

.btn:hover{
    color: white;
    font-family: 'Dongle', sans-serif;
    font-size: 1.5rem;
    border: 3px solid white;
    background-color: aquamarine;
}




/* This is for the Footer */
footer {
    font-family: 'Dongle', sans-serif;
    font-size: 1.5rem;
    line-height: 0.6;
}



/* This is for the about Page */
.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Dongle', sans-serif;

}

.about1 {
    text-align: center;
    font-size: 2rem;
    max-width: 50vw;
    margin-top: 100px;
}

.about1 img {
    width: 200px;
    margin-bottom: 10px;
}

.about2 {
    max-width: 50vw;
    text-align: center;
    margin-top: 100px;
}

.about2 h1 {
    font-family: 'Silkscreen', cursive;
}

hr {
    background: linear-gradient(to right, red, yellow, green, blue, purple);
    height: 3px;
}

.about3 {
    max-width: 50vw;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.about3 h1 {
    font-family: 'Silkscreen', cursive;
}

.about3 img {
    width: 150px;
    border-radius: 150px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.about h4 {
    line-height: 0.6;
}

.about3 a {
    font-size: 1.5rem;
}



/* This is for the blog Page */
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    margin-top: 50px;
}

.blog h1 {
    margin-bottom: 30px;
    font-family: 'Silkscreen', cursive;
}

.blog img {
    width: 300px;
}


.post {
    display: block;
    width: 100%;
    max-width: 60vw;
    padding: 50px 30px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}

.post button {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 15px 0px;
}


form label {
    display: block;
    color: #2F4960;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
}

form input {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

form input {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

form textarea {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

.read {
    max-width: 50vw;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.read h3 {
    font-family: 'Dongle', sans-serif;
    font-size: 3rem;
    line-height: 0.8;
}

.read h2 {
    font-family: 'Silkscreen', cursive;
}

.read p {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    line-height: 0.8;
}

.read button {
    padding: 10px;
    font-family: 'Dongle', sans-serif;
    background-color: aquamarine;
    color: white;
    font-size: 2rem;
    padding: 0 30px;
    border-radius: 10px;
    border: 3px solid aquamarine;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}

.read button:hover{
    cursor: pointer;
    background-color: transparent;
    border : 3px solid white;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}

.read a {
    text-decoration: none;
    color: white;
}


/* This is the Blog Read Page */

.blog-read img {}


/* This is for the Home Page */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.home1 {
    max-width: 50vw;
    /* background-color: yellow; */
}

.home1 img {
    width: 200px;
    margin: 10px 0;
}


.home1 h1 {
    font-family: 'Silkscreen', cursive;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(red, red, yellow, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home1 p {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    line-height: 1;
}

.home1 button {
    padding: 10px;
    font-family: 'Dongle', sans-serif;
    background-color: aquamarine;
    color: white;
    font-size: 2rem;
    padding: 0 30px;
    border-radius: 10px;
    border: 3px solid aquamarine;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}

.home1 button:hover{
    cursor: pointer;
    background-color: transparent;
    border : 3px solid white;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}

.home2 {
    max-width: 50vw;
    margin-top: 100px;
}

.home2 p {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    line-height: 1;
}

.home2 h1 {
    font-family: 'Silkscreen', cursive;
    background: -webkit-linear-gradient( white,red, yellow, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home3 {
    max-width: 50vw;
    margin-top: 100px;
}

.home3 h2 {
    font-family: 'Silkscreen', cursive;
    background: -webkit-linear-gradient(red, red, yellow, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home3 p {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    line-height: 1;
}


.home4 {
    max-width: 60vw;
}

.home4 p {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    line-height: 0.8;
}

.home4 h5 {
    color: aquamarine;
}

.card-hover:hover{
    box-shadow: 0px 18px 24px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}


/* This is the Register Page  */

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    margin-top: 50px;
}

.local-register {
    display: block;
    width: 100%;
    max-width: 30vw;
    padding: 50px 30px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}

.local-register img {
    width: 50%;
}

.local-register button {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 15px 0px;
}

.loca-register form label {
    display: block;
    color: #2F4960;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
}

.local-register form input {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.local-register form input {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

.google-button-link {
    text-decoration: none;
}


/* This is for the Login Page  */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    margin-top: 50px;
}

.local-login {
    display: block;
    width: 100%;
    max-width: 30vw;
    padding: 50px 30px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}

.local-login img {
    width: 50%;
}

.local-login button {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 8px;
    background-color: #2F4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 15px 0px;
}

.loca-login form label {
    display: block;
    color: #2F4960;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
}

.local-login form input {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.local-login form input {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}


/* This is the Blog Content Page */
.blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-header {
    width: 70vw;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}


.blogs {
    max-width: 70vw;
    margin-bottom: 100px;
}

.blog-each {
    background-color: white;
    /* max-width: 70vw; */
    padding: 20px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2)
}


.blog-topic {
    margin-top: 100px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    margin-bottom: 20px;
    font-size: 2rem;
}

.blog-info {
    margin-bottom: 20px;
    text-align: center;

}

.blog-info h5,
h6 {
    font-family: 'Dongle', sans-serif;
    font-size: 1.8rem;
    line-height: 0.6;
}

.blog-data {
    font-family: 'Dongle', sans-serif;
}

.blog-data p {
    font-size: 2rem;
    line-height: 0.8;
    text-align: start;
}

.blog-data h2 {
    font-size: 3rem;
    line-height: 0.5;
    margin-top: 30px;
}



/* Responsive For Mobile  */
@media (max-width: 980px) {

    /* Login Page */
    .local-login {
        max-width: 80vw;
    }

    /* Register Page */
    .local-register {
        max-width: 80vw;
    }

    /* Main */
    .read{
        max-width: 70vw;
    }

    .post {
        max-width: 90vw;
    }

    .blogs {
        max-width: 90vw;
    }

    /* About Page */
    .about1{
        max-width: 70vw;
    }
    .about2 {
        max-width: 80vw;
    }

    .about3{
        max-width: 80vw;
    }

    /* Home Page */
    .home1{
        max-width: 80vw;
    }

    .home2{
        max-width: 80vw;
    }

    .home3{
        max-width: 80vw;
    }

    .home4{
        max-width: 80vw;
    }
}